<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthentication" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SecurityServices/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication" contract="SecurityService.IAuthentication" name="BasicHttpBinding_IAuthentication" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="Advantage.Data.Provider.AdsFactory, EntityFramework.Advantage.v22" />
    <providers>
      <provider invariantName="Advantage.Data.Provider" type="Advantage.Data.Provider.AdsProviderServices, EntityFramework.Advantage.v22, Version=12.0.0.0, Culture=neutral, PublicKeyToken=e33137c86a38dc06" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>